/*---
title: Media Object

`.media-object` class can be applied to any element.

In order to use it you must import the component first and add it's ID to the `include` attribute of your component `<style>` tag.
If you are using the style module outside of a component, you will need to add `is="custom-style"` to the `<style>` tag.

You can override any of the style properties used by the media-object classes inside your component styles.

<pre><code>&lt;link rel=&quot;import&quot; href=&quot;../media-object.html&quot;&gt;
&lt;style <mark>include=&quot;media-object-styles&quot;</mark>&gt;&lt;/style&gt;
</code></pre>


## Horizontal

```example:html
  <div class="media-object">
    <img src="http://fakeimg.pl/60x60/00CED1/FFF/?text=IMG" class="media-object__media" alt="">
    <div class="media-object__body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id molestiae itaque, doloremque, repudiandae dicta aspernatur iure fugit. Et atque quod id deleniti aperiam? Libero delectus, culpa debitis quod dicta veritatis!
    </div>
  </div>
```

## Horizontal reversed

Use the modifier class `media-object--reverse` to reverse the default direction (left to right).

```example:html
  <div class="media-object--reverse">
    <img src="http://fakeimg.pl/60x60/00CED1/FFF/?text=IMG" class="media-object__media" alt="">
    <div class="media-object__body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis inventore, dignissimos natus officia aut ducimus quaerat at nisi. Numquam reiciendis laborum illum reprehenderit sed eveniet totam commodi, optio? Veniam, repellat?
    </div>
  </div>
```

## Vertical

Use the modifier class `media-object--vertical` to change the default distribution axis (horizontal).


```example:html
  <div class="media-object--vertical">
    <img src="http://fakeimg.pl/60x60/00CED1/FFF/?text=IMG" class="media-object__media" alt="">
    <div class="media-object__body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis inventore, dignissimos natus officia aut ducimus quaerat at nisi. Numquam reiciendis laborum illum reprehenderit sed eveniet totam commodi, optio? Veniam, repellat?
    </div>
  </div>
```

## Vertical reversed

```example:html
  <div class="media-object--vertical media-object--reverse">
    <img src="http://fakeimg.pl/60x60/00CED1/FFF/?text=IMG" class="media-object__media" alt="">
    <div class="media-object__body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis inventore, dignissimos natus officia aut ducimus quaerat at nisi. Numquam reiciendis laborum illum reprehenderit sed eveniet totam commodi, optio? Veniam, repellat?
    </div>
  </div>
```

## Vertical centering

The modifier class `media-object--center` can be used in horizontal or vertical mode to center items in the cross axis.

```example:html
  <div class="media-object media-object--center">
    <img src="http://fakeimg.pl/60x60/00CED1/FFF/?text=IMG" class="media-object__media" alt="">
    <div class="media-object__body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id molestiae itaque, doloremque, repudiandae dicta aspernatur iure fugit. Et atque quod id deleniti aperiam? Libero delectus, culpa debitis quod dicta veritatis!
    </div>
  </div>
```

## Horizontal centering

```example:html
  <div class="media-object--vertical media-object--center">
    <img src="http://fakeimg.pl/60x60/00CED1/FFF/?text=IMG" class="media-object__media" alt="">
    <div class="media-object__body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id molestiae itaque, doloremque, repudiandae dicta aspernatur iure fugit. Et atque quod id deleniti aperiam? Libero delectus, culpa debitis quod dicta veritatis!
    </div>
  </div>
```
*/


/* Default: horizonal media + body */
.media-object, [class*="media-object--"] {
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -ms-flex-align: start;
  align-items: flex-start;
}

.media-object {

  /* horizontal body + media */

  /* vertical media + body */


  /* vertical reversed body + media */


  /* cross axis alignment */
}

.media-object__media {
  margin-right: calc(2 * 8px);
}

.media-object__body {
  -ms-flex: 1;
  flex: 1;
}

.media-object--reverse {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.media-object--reverse .media-object__media {
  margin-right: 0;
  margin-left: calc(2 * 8px);
}

.media-object--vertical {
  -ms-flex-direction: column;
  flex-direction: column;
}

.media-object--vertical .media-object__media {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: calc(2 * 8px);
}

.media-object--vertical.media-object--reverse {
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.media-object--vertical.media-object--reverse .media-object__media {
  margin-right: 0;
  margin-bottom: 0;
  margin-top: calc(2 * 8px);
}

.media-object--center {
  -ms-flex-align: center;
  align-items: center;
}
